@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: plum;
}
.homeContainer {
    display: flex;
    align-items: center;
    background-color: plum;
    position: center;
    overflow: hidden;
  }
  
  .childContainer {
    /* width: 1200px;
    height: 250px; */
    /* margin: 300px; */
    font-size: 100px;
    font-weight: 900;
    background-color: plum;
    overflow: hidden;

  .intro-text{
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-left: 700px;
  }
  .name{
    line-height: 1.2;
    margin-bottom: 20rem;
    margin-left: 700px;
  }
  .title{
    margin: 0rem;
    background-color: plum;
    margin-top: -20px;
    margin-left: 700px;
  }
}
  .pinkColor {
    color: deeppink;
  }

.image-container {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: plum;
    margin-top: 0px;
  
  }
  
.image-container img{
    height: 1700px;
    width: 1700px;
    margin-left: 3000px;
    margin-top: 170px;
  }